<p>compra boletos</p>
      <!-- formulario para la ruta  post "/"  que usa el metodo 'flights#show' con el alias 'forma'  -->
      <!-- remote true se encaraga de render show.js y _show.html-->
      <%=form_for forma_path, remote: true  do |f|%>
        <%@flights_origins = []%>
        <%@flights_destinys = []%>
        <%@flights_total_seats = []%>
        <!-- recolectar destinos y origenes de vuelos -->
        <%@fligths.collect do |f|%>
            <%@flights_origins << f.origin %>
            <%@flights_destinys << f.destiny %>
            <%@flights_total_seats << f.total_seats %>
        <%end%>
        <!-- eliminar origenes y destinos repetidos -->
        <%@flights_origins.uniq!%>
        <%@flights_destinys.uniq!%>
        <%@flights_total_seats.uniq!%>
        <br>
          Origen
            <!-- menu dropdown, donde el parametro seleccionado se llama 'flow' y dentro esta el hash "flight_origin"-->
            <!-- recolectamos todos los vuelos y la opcion seleccionada es el param "flight_origin" -->
            <%=select(:flow, "flight_origin", @flights_origins.collect {|origen|  origen  }, {include_blank: 'None'})%>
          <br>
          Destino
            <%=select(:flow, "flight_destiny", @flights_destinys.collect {|destino| destino }, {include_blank: 'None'})%>
          <br>
          Fecha
          <br>
          <%=date_select(:calendar, :date)%>
          <br>
            <%all_seats = @flights_total_seats.sort.last%>
            <%@flights_total_seats = []%>
            <%for seat in 1..all_seats%>
              <%@flights_total_seats << seat%>
            <%end%>
            Select seats
            <%=select(:flow , "seats_selected", @flights_total_seats.each_with_index {|v| v}, {include_blank: 'None'})%>
          <br>
          <%= f.submit "Buscar"%>
      <%end%>
