<p>_pay</p>

<div class="modal-dialog">
  <div class="modal-content">

      <h2>La informacion de tu compra es</h2>


                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID de vuelo</th>
                      <th>&nbsp;Costo total de la compra:</th>
                      <th>Número de Boletos: </th>
                      <th>&nbsp;Costo por Boleto</th>
                      <td>&nbsp;Destiny</td>
                      <td>&nbsp;Origin</td>
                      <td>&nbsp;Depart</td>
                      <td>&nbsp;Hour</td>
                    </tr>
                  </thead>
                  <tbody >
                    <td><%=$flight.id%></td>
                    <td><%=$seats*$flight.cost%></td>
                    <td><%=$seats%></td>
                    <td>$<%=$flight.cost%></td>
                    <td><%=$flight.destiny%></td>
                    <td><%=$flight.origin%></td>
                    <td><%="#{$flight.depart.day} of #{$flight.depart.strftime('%B')} of #{$flight.depart.year}"%></td>
                    <td><%="#{$flight.depart.hour}:#{$flight.depart.min}"%></td>

                  </tbody>
                </table>



    <!-- intentamos usar para este formulario otra ruta pero siempre usaba pay_path, asi que la usamos implicitament -->
    <%=form_for @user_admin do |f|  %>
      <div class="modal-body">
        <p>Ingresa datos de usuario de compra</p>

        <span id="por-asingar">  </span>

        <ul class="errors"></ul>
            <div class="form-group">
              <%=  f.label :name, class:"control-label" %>
              <%=f.text_field :name, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%=  f.label :email, class: "control-label"%>
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="modal-footer">
            <%= f.submit "Cagar pago a este usuario",:user_admin => @user_admin ,class: "btn btn-primary"%>
            <%=link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
          </div>

    <% end %>
  </div>
</div>
