<div class="modal-dialog">
  <div class="modal-content">
      Hay <%=@flights.count%> Vuelos con esas caraterízticas
      <br>
      <%if @no_vuelos %>
          <%= @no_vuelos %>
      <%end %>
      <%if @flights %>
        <br>
        <%= "Origen: #{@flights[0].origin}"  if @flights.empty? == false%>
        <br>
        <%= "Destino: #{@flights[0].destiny}" if @flights.empty? == false%>
        <br>
        <%@flights.each do |f|%>
          <br>
          Id del vuelo: <%=f.id%>
          <br>
          Total de asientos: <%=f.total_seats%>
          <br>
          Fecha de salida:
          <%=f.depart.day%>/
          <!-- formato de tiempo para el mes es convertido de numero a palabra -->
           <%= f.depart.strftime('%B')%>/
           <%=f.depart.year%>

          <br>
          Hora de salida: <%=f.depart.hour%>:<%=f.depart.min%>
          <br>
          Costo <%= f.cost%>
          <br>
          <%= link_to "Seleccionar", user_create_path,:method => :post, remote: true ,class: "btn btn-primary" %>
          <br>
        <%end%>
      <%end%>
 </div>
 <%= link_to "Reiniciar busqueda", '#', class: "btn btn-danger" %>
</div>
