<div class="modal-dialog">
  <%=@user%>
  <div class="modal-content">
    <%=form_for @user , remote: true do |f|  %>
      <div class="modal-body">
        <p>en sub form</p>
        <ul class="errors"></ul>
            <div class="form-group">
              <%=  f.label :name, class:"control-label" %>
              <%=f.text_field :name, class: "form-control"  %>
            </div>
            <div class="form-group">
              <%=  f.label :email, class: "control-label"%>
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>

          <div class="modal-footer">
            <%= f.submit "Crear user",:user => @user ,class: "btn btn-primary"%>
            <%=link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
          </div>

    <% end %>
  </div>
</div>
