<div class="container">

  <h2>Vuelo seleccionado</h2>
  <!-- ESTE SPAN ES UN NUMERO IMPORTANTE, NO MODIFICAR, NOA AGREGAR NADA DENTRO -->
  <span id="seats">
    <%=@seats_selected%>
  </span> Asientos por asignar
  <br>
  Boking id: <%=@booking.id%>

  <%if @flight_seleceted %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID de vuelo</th>
        <th>Asientos disponibles</th>
        <th>&nbsp;Costo por Boleto</th>
        <td>&nbsp;Destiny</td>
        <td>&nbsp;Origin</td>
        <td>&nbsp;Depart</td>
        <td>&nbsp;Hour</td>
      </tr>
    </thead>
    <tbody >
      <td><%=@flight_seleceted.id%></td>
      <td><%=@flight_seleceted.total_seats%></td>
      <td>$<%=@flight_seleceted.cost%></td>
      <td><%=@flight_seleceted.destiny%></td>
      <td><%=@flight_seleceted.origin%></td>
      <td><%="#{@flight_seleceted.depart.day} of #{@flight_seleceted.depart.strftime('%B')} of #{@flight_seleceted.depart.year}"%></td>
      <td><%="#{@flight_seleceted.depart.hour}:#{@flight_seleceted.depart.min}"%></td>

    </tbody>
  </table>
  <%end%>

  <%= link_to "Add users", user_add_path,:method => :post ,remote: true, class: "btn btn-primary", id: "add-ussers-button" %>
  <%= link_to "Return to seleccion", "/", class: "btn", data: {dismiss: "modal"} %>
  <span id="payment">
    <!-- asigarn el total a pagar a una var -->
    <%total_to_pay = @seats_selected.to_i * @flight_seleceted.cost%>
    <%= link_to "Pay amount of $#{total_to_pay}", pay_path , :method => :post , remote: true, class: "btn btn-danger" %>
  </span>
  <!-- en este div aparece la tabla con los usuario agregados, NO BORRAR -->
  <div id="users">

  </div>
  <div id="user-modal" class="modal fade"> </div>
  <div id="pay-modal" class="modal fade"> </div>
</div>
