<h2>Excelente su reservacion ha sido realizada con exito</h2>
<h3>los datos de su reseracion son los siguientes</h3>
<div class="container">
  <h4>Nombre: <%=@user_admin.name %> </h4>
  <h4>Correo: <%=@user_admin.email %></h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID de vuelo</th>
        <th>ID de reservacion</th>
        <th>&nbsp;Costo por Boleto</th>
        <td>&nbsp;Destiny</td>
        <td>&nbsp;Origin</td>
        <td>&nbsp;Depart</td>
        <td>&nbsp;Hour</td>
        <td>&nbsp;Passenger</td>
        <%@passengers.each_with_index do |passenger, index|  %>
            <% if passenger.rol == "creador de reservacion" %>
                  <td>&nbsp;Quién hizo la reservacion</td>
            <% end %>
        <%end%>
      </tr>
    </thead>
    <tbody >
      <td><%=@flight.id%></td>
      <td><%=@booking.id%></td>
      <td>$<%=@flight.cost%></td>
      <td><%=@flight.destiny%></td>
      <td><%=@flight.origin%></td>
      <td><%="#{@flight.depart.day} of #{@flight.depart.strftime('%B')} of #{@flight.depart.year}"%></td>
      <td><%="#{@flight.depart.hour}:#{@flight.depart.min}"%></td>

      <td>
        <%@passengers.each_with_index do |passenger, index|  %>
            <% if passenger.rol == "passenger" %>

                  User:<%=index + 1%>)
                  <ul>
                    <li>Name: <%=passenger.name%></li>
                    <li>Correo: <%=passenger.email%></li>
                  </ul>

            <% end %>
        <%end%>
      </td>
      <td>
        <%@passengers.each_with_index do |passenger, index|  %>
            <% if passenger.rol == "creador de reservacion" %>
              
                  <%@passengers.each_with_index do |passenger, index|  %>
                  <% if passenger.rol != "passenger" %>


                  <ul>
                    <li>Name: <%=passenger.name%></li>
                    <li>Correo: <%=passenger.email%></li>
                  </ul>

                  <% end %>
                  <%end%>

            <% end %>
        <%end%>
      </td>

    </tbody>
  </table>
    <%= link_to "Return to seleccion de vuelos", "/", class: "btn", data: {dismiss: "modal"} %>
</div>
